@model FunnyBunnyGames.Services.Users.ViewModels.UpdateUserViewModel
@{
}
<h1>Update User</h1>
<form method="post" action="Update" class="mt-5">
	<div class="mb-3">
		<label for="" class="form-label">Id</label>
		<input type="text" class="form-control" asp-for="Id" readonly />
	</div>
	<div class="mb-3">
		<label for="" class="form-label">First Name</label>
		<input type="text" class="form-control" asp-for="FirstName" />
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Last Name</label>
		<input type="text" class="form-control" asp-for="LastName" />
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Username</label>
		<input type="text" class="form-control" asp-for="UserName" />
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Age</label>
		<input type="text" class="form-control" asp-for="Age" />
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>