@using FunnyBunnyGames.Services.Companies.ViewModels;
@model DetailsCompaniesViewModel

<form method="post" action="Get" class="mt-5">

    <h1 style="color:#fc6c85">Details:</h1>
    <h3 style="color:#fc6c85">@Model.Name</h3>
    <br />

    <h1 style="color:#fc6c85">Games:</h1>

    <table class="table">
        <thead>
            <tr style="color:#fc6c85">
                <th> Name</th>
                <th> Price</th>
                <th> From Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in this.Model.Games)
            {
                <tr style="color:#fc6c85">
                    <td>@game.Name</td>
                    <td>@game.Price</td>
                    <td>@game.AgeRestriction</td>
                    <td>
                        <div class="btn-group-sm">
                        </div>
                    </td>
                </tr>
            }
            </
    </table>
</form>
