@model FunnyBunnyGames.Services.Companies.ViewModels.UpdateCompaniesViewModel
@{
}

<h1 style="color:#fc6c85">Update your company name:</h1>

<form method="post" action="Update" class="mt-5">


    <div class="mb-3" style="color:#fc6c85">
        <label for="" class="form-label">Name:</label>
        <br />
        <input type="text" class="form-control" asp-for="Name"/>
        <br />
    </div>

    <div class="btn-group-sm">
        <button style="background-color:#fc6c85; border:none" type="submit" class="btn btn-primary" asp-controller="Company" asp-action="Update" formmethod="post" >Submit</button>
        <a style="background-color:#fc6c85; border:none" asp-controller="Company" asp-action="All" asp-route-id="@Model.Id" class="btn btn-success">Back</a>
    </div>
</form>
